/*text*/
.title
	+font
	line-height: 1
	letter-spacing: -1.7px
	+css-lock(30,72,980,1280)
	+r(980)
		letter-spacing: -.7px
.title__wrapper
	display: block
	width: 100%
	+css-lock(30,70,980,1280,padding)
	text-align: center

.h1-text
	+font-bold
	line-height: 1.2
	+css-lock(26,55,980,1280)

.h2-text
	+font-bold
	line-height: 1.4
	+css-lock(24,30,980,1280)

.h3-text
	+font-bold
	line-height: 1.3
	+css-lock(24,26,980,1280)

.h4-text
	+fs(17)
	+font-bold
	line-height: 1.47

.bigger-text
	+fs(20)
	line-height: 1.75

.simple-text
	+fs(17)
	line-height: 1.47
	color: $color-text

.from-24-to-34-text
	+css-lock(24,34,768,1280)
	line-height: 1.1
	+font-bold


.color-dark-text
	color: $color-title

.color-white-text
	color: #ffffff

/*elements*/

.bg-black
	background-color: #000000



/*input*/
.input-group-text
	+fs(16)
	color: $color-title

.form-control__wrapper
	position: relative
	margin-bottom: 10px
	&.is-filled
		.form-control-text
			+fs(13)
			color: #c7c7c7
			transform: translate3d(0,-19px,0)
		&:not(:focus).form-control
			background-color: #ffffff
			border-color: #dfdfe4

	&.is-error
		margin-bottom: 20px
		.form-control
			background-color: #fef3f4
		.form-text-error
			opacity: 1
			transform: translateY(19px)
	&.is-disabled
		.form-control-text
			+fs(13)
			color: #c7c7c7
			transform: translate3d(0,-19px,0)

.form-text-error
	position: absolute
	width: 100%
	top: calc(100% - 1.5em)
	+fs(14)
	color: #e82f38
	opacity: 0
	transform: translateY(.5em)
	transition: opacity .2s, transform .24s

.form-control
	width: 100%
	display: block
	position: relative
	background-color: #f4f4f4
	border: 1px solid transparent
	// padding: 23px 15px 8px 10px
	height: 55px
	padding: 23px 15px 4px 10px
	line-height: 1
	+fs(17)
	color: #0a090c
	transition: background-color .2s, border-color .24s
	z-index: 1
	caret-color: #e3295a
	&:focus
		border-color: #e3295a
		background-color: #ffffff
		&:not(disabled) ~ .form-control-text
			+fs(13)
			color: #c7c7c7
			transform: translate3d(0,-19px,0)

.form-control-text
	position: absolute
	top: 50%
	left: 0
	overflow: hidden
	user-select: none
	pointer-events: none
	background-color: transparent
	display: block
	width: 100%
	padding-left: 10px
	line-height: 1
	color: #aaaaaf
	+fs(17)
	transform: translate3d(0, -50%, 0)
	will-change: font-size, transform, color
	transition: font-size .23s ease, transform .24s ease, color .2s
	z-index: 2

.form-control:focus ~ .form-control-text
	border-color: $color-main



/*btns*/
.group-btns-social
	display: inline-block
	margin-left: 10px
	+r(991)
		display: block
		padding-left: 20px
		margin-bottom: 50px
		&::before
			content: 'Поделиться'
			+font-bold
			line-height: 1.4
			+css-lock(28,30,980,1280)
			display: block
			margin-bottom: 10px
			color: $color-title

.btn-back
	position: relative
	width: 80px
	height: 48px
	border: none
	border-radius: 28px
	background-color: #ffffff
	text-decoration: none
	transition: background-color .24s, box-shadow .24s
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.04), 0 19px 24px 0 rgba(0, 0, 0, 0.09)
	&:hover
		background-color: #fafafa
		text-decoration: none
		box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.04), 0 19px 24px 0 rgba(0, 0, 0, 0.19)
	&:active
		background-color: #fafafa
	.icon-back
		display: block
		width: 24px
		height: 24px
		+center(both)
		background-image: url('../img/icon__back.svg')
		background-size: contain
		background-position: center
		background-repeat: no-repeat

.btn-social
	display: inline-block
	width: 48px
	height: 48px
	position: relative
	background-color: #ffffff
	border: 1px solid rgba(83, 91, 99, 0.1)
	border-radius: 50%
	color: $color-title
	transition: color .25s, background-color .25s
	text-decoration: none
	& + &
		margin-left: 10px
	&:hover
		text-decoration: none
		color: #ffffff
		background-color: #004385
	.icon
		display: block
		width: 25px
		max-height: 23px
		color: currentColor
		+center(both)


.btn-simple
	display: inline-block
	max-width: 100%
	min-width: 220px
	line-height: 55px
	text-align: center
	border: none
	text-decoration: none
	transition: background-color .24s
	text-transform: uppercase
	+fs(13)
	letter-spacing: 1px
	&:not(disabled):not([disabled])
		color: #ffffff
		background-color: #cc003d
		&:hover
			background-color: #f40c52
		&:active
			background-color: #98002d
	&.disabled,
	&[disabled]
		cursor: not-allowed
		color: #9b9b9b
		background-color: #c7c7c7

.card__btn
	width: 62px
	height: 62px
	position: relative
	border-radius: 50%
	border: 1px solid rgba(#ffffff, .2)
	.icon-forward
		display: block
		width: 24px
		height: 24px
		+center(both)
		background-image: url('../img/icon__forward.svg')
		background-size: contain
		background-position: center
		background-repeat: no-repeat



/*checkboxes*/
.simple-checkbox
	& + &
		margin-left: 10px
	&-visual
		+vm
		width: 18px
		height: 18px
		position: relative
		border: 1px solid #8c8c8c
		background-color: #ffffff
		border-radius: 2px
		position: relative
		transition: border-color .25s, background-color .23s 
		&::after
			content: ''
			+center(both)
			width: 13px
			height: 13px
			background-image: url('../img/icon__checkmark-white.svg')
			background-size: contain
			background-repeat: no-repeat
			+tr(opacity .23s)
			opacity: 0
	&-text
		+vm
		color: #ffffff
		+fs(15)
		line-height: 1.46
		margin-left: 15px
		a
			color: #ffffff
			text-decoration: underline
			&:hover
				text-decoration: none
		

			
	input[type="checkbox"],
	input[type="radio"]
		display: none
		&:checked ~ 
			.simple-checkbox-visual::after
				opacity: 1
		&:not([disabled]) ~ .simple-checkbox-visual:hover,
		&:not(.disabled) ~ .simple-checkbox-visual:hover
			cursor: pointer
	&:not(.white)
		input[type="checkbox"],
		input[type="radio"]
			&:checked ~ 
				.simple-checkbox-visual
					border-color: #cc003d
					background-color: #cc003d
			&:not([disabled]) ~ .simple-checkbox-visual:hover,
			&:not(.disabled) ~ .simple-checkbox-visual:hover
				border-color: rgba(#cc003d, .75)
				background-color: rgba(#cc003d, .75)
	&.white
		.simple-checkbox-visual
			background-color: transparent
			&::after
				background-image: url('../img/icon__checkmark.svg')
		input[type="checkbox"],
		input[type="radio"]
			&:checked ~ 
				.simple-checkbox-visual
					border-color: #ffffff
					background-color: #ffffff
			&:not([disabled]) ~ .simple-checkbox-visual:hover,
			&:not(.disabled) ~ .simple-checkbox-visual:hover
				background-color: rgba(#ffffff, .65)



/*card*/
.card-holder
	width: 100%
	margin-bottom: 30px
	+r(1023)
		margin-bottom: 25px
	+r(767)
		margin-bottom: 0

.top-block
	width: 100%
	margin-bottom: 45px
	+rIn(768,1023)
		margin-bottom: 40px
	+r(767)
		margin-bottom: 0
		& > .col:first-child
			margin-bottom: 40px
	.card__views
		color: #ffffff

.card
	display: block
	width: 100%
	position: relative
	min-height: 330px
	margin-bottom: 30px
	z-index: 1
	+r(1023)
		margin-bottom: 25px
	&__body
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		display: flex
		flex-flow: column wrap
		padding: 30px
	&__title
		max-width: 100%
	&__info
		display: block
		span
			color: #ffffff
			+fs(14)
			+font-bold
			text-transform: uppercase
			padding: 3px 10px
			line-height: 1
			font-weight: 600
			letter-spacing: .1em
		/*PKO рко*/
		&.info-type-1
			span
				background-color: #004385
		/*equaring эквайринг*/
		&.info-type-2
			span
				background-color: #942f5d
		/*credits кредиты*/
		&.info-type-3
			span
				background-color: #32a287
		&.info-type-transparent
			span
				opacity: .75
				background-color: transparent
				padding-left: 1px
				padding-right: 1px
	&__bg
		position: absolute
		top: 0
		left: 0
		overflow: hidden
		width: 100%
		height: 0
		z-index: -1
		background-color: #181818
		img
			position: absolute
			width: 100%
			height: 100%
			object-fit: cover
			opacity: .5
			+tr(transform .24s ease-in-out)		
	&__footer
		background-color: #ffffff
		+r(1023)
			padding: 0 15px
	&__last-line
		+fs(17)
		color: #535b63
		margin-top: 20px
		display: flex
		flex-flow: row wrap
	&__date
		margin-right: 25px
	&:hover
		text-decoration: none
		.card__bg
			img
				transform: scale(1.2)

	//color sheme			
	&.card-title-color-light
		.card__title
			color: #ffffff
	&.card-empty
		.card__title
			color: $color-title
		.card__bg
			background-color: #eeeff3
			img
				opacity: 0
		.card__btn
			border-color: rgba(#0a090c, .1)
			.icon-forward
				background-image: url(../img/icon__back.svg)
				transform: matrix(-1,0,0,1,-12,-12)




	//type sheme
	&.card-type-1,
	&.card-type-2,
	&.card-type-3,
	&.card-with-popular,
	&.card-type-slide
		&::before
			content: ''
			position: relative
			top: 0
			left: 0
			display: block
			width: 100%

	&.card-type-1
		&::before,
		.card__bg
			padding-bottom: 110%
			padding-bottom: 110%
		.card__title
			margin-top: 18px
			margin-bottom: auto
				
	&.card-type-2
		&::before,
		.card__bg
			padding-bottom: 67%
			padding-bottom: 67%
		.card__title
			margin-top: 15px
			margin-bottom: 15px
			color: $color-title
		.card__text
			color: #535b63
			line-height: 1.45
			+fs(15)

	&.card-type-3
		&::before,
		.card__bg
			padding-bottom: 51%
		.card__title
			margin-top: auto
			margin-bottom: 5px
		.card__last-line
			color: #ffffff
		.icon-eye
			background-image: url('../img/icon__eye-white.svg')

	&.card-with-popular
		height: calc(100% + 16px)
		&::before,
		.card__bg
			height: 100%
		.card__title
			margin-top: auto
			margin-bottom: 5px
			+rmin(1280)
				max-width: 60%
				margin-right: auto
		.card__last-line
			color: #ffffff
		.icon-eye
			background-image: url('../img/icon__eye-white.svg')

	&.card-type-slide
		min-height: 300px
		.card__body
			padding: 20px
		&::before,
		.card__bg
			height: 100%
		.card__title
			margin-top: 20px
			margin-bottom: auto
			max-height: 5em
			overflow: hidden
			text-overflow: ellipsis
		.card__last-line
			color: #ffffff
			opacity: .75
		.icon-eye
			background-image: url('../img/icon__eye-white.svg')
		.card__views
			span
				color: rgba(255,255,255, .67)

.icon-eye
	+vm
	margin-right: 5px
	width: 21px
	height: 20px
	background-image: url('../img/icon__eye.svg')
	background-repeat: no-repeat
	background-size: contain
.card__views
	span
		+vm
/*popular*/
.popular
	display: block
	width: 100%
	background-color: #ffffff
	position: relative
	box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.13)
	padding: 30px
	+r(767)
		margin-bottom: 20px
	&::after
		content: ''
		position: absolute
		top: calc(100% - 2px)
		left: 0
		width: 100%
		height: 20px
		background-image: url('../img/bg__card-bottom.svg')
		background-size: contain
		background-repeat-y: no-repeat
		background-repeat-x: repeat
	&__title
		color: $color-title
	.icon-lightning
		+vm
		width: 15px
		height: 30px
		margin-right: 5px
		background-image: url('../img/icon__lightning.svg')
		background-size: contain
		background-repeat: no-repeat
	&__item
		display: block
		width: 100%
		padding: 16px 0 15px
		&:hover
			text-decoration: none
			.popular__item-text
				text-decoration: underline
		&:not(:last-child)
			border-bottom: 1px solid #e4e4e4
		&-title
			+fs(14)
			text-transform: uppercase
			+font-bold
			letter-spacing: .7px
			margin-bottom: 8px
		&-text
			line-height: 1.46
			color: #0a090c
			+fs(17)
			font-weight: 600



.box
	padding: 40px 0 40px
	position: relative
	&.box-darken
		background-color: #f7f7f7
	+r(979)
		padding-bottom: 30px
	&__title
		margin-bottom: 30px
		+r(979)
			padding: 0 15px
	&-center-link
		display: block
		text-align: center
		a
			text-transform: uppercase
			+fs(17)
			line-height: 1.3
			letter-spacing: 1px
			text-decoration: none
			&:hover
				text-decoration: underline