html
	font-size: 10px
	height: 100%
body
	background-color: #ffffff
	+fs(17)
	line-height: 1.47
	color: $color-text
	+font

.is-open-menu
	overflow: hidden
*
	box-sizing: border-box

img,
svg
	max-width: 100%


hr
	display: block
	width: 100%
	+clr
	height: 1px
	background-color: #dfdfe4
	border: none

a
	color: #cc003d
	text-decoration: none
	&:hover
		text-decoration: underline

.mb20
	margin-bottom: 20px
.mt10
	margin-top: 10px
	display: block
.text-center
	text-align: center

.more-btn__wrapper
	margin-bottom: 60px
	+r(979)
		margin-bottom: 40px

.wrapper
	overflow-x: hidden

.container
	padding-right: 8px
	padding-left: 8px
	+r(767)
		max-width: 100%
		padding-left: 0
		padding-right: 0

.row
	width: 100%
	margin-left: -8px
	margin-right: -8px
	+r(767)
		margin-left: 0
		margin-right: 0
	& > .col
		padding-left: 8px
		padding-right: 8px
		+r(767)
			padding-left: 0px
			padding-right: 0px