---
title: Blog
---
extends layouts/_layout
block content
  .header-padding
    .title__wrapper
      .title.color-dark-text
        | Полезные статьи<br/> и советы про деньги
    .container
      //- first block
      .row.top-block
        .col.col-12.col-lg-8
          a(href="#").card.is-rippled.on-dark.card-with-popular.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-full.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | КРЕДИТЫ
              .card__title.from-24-to-34-text
                | Как сдать декларацию по специальной оценке условий труда
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-lg-4
          .popular
            .popular__inner
              .popular__title.h2-text
                i.icon.icon-lightning
                span
                  | Популярное
              a.popular__item(href="#")
                .popular__item-title(style="color: #942f5d;")
                  | Кредиты
                .popular__item-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              a.popular__item(href="#")
                .popular__item-title(style="color: #004385;")
                  | РКО
                .popular__item-text
                  | Банковская картотека на расчетном счете
              a.popular__item(href="#")
                .popular__item-title(style="color: #32a287;")
                  | Эквайринг
                .popular__item-text
                  | Покупка терминалов для мобильного и торгового эквайринга 
      //- second block
      .row.card-holder
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-1.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-2.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-3.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        //- third block(3 parts)
        .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
                .card__title.h3-text
                  | Выгодные условия РКО для небольших цветочных магазинов
                .card__btn
                  i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-4.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Покупка терминалов для мобильного и торгового эквайринга 
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-5.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
    //- sub
    include partials/_subscription

    //- slider
    .box
      .container
        .box__title.h2-text.color-dark-text
          | Популярные вопросы
        include partials/_slider
        .box-center-link
          a(href="#")
            | Посмотреть все 74 вопроса



    //- most related
    .box.box-darken
      .container
        .box__title.h2-text.color-dark-text
          | Самое обсуждаемое
        .row.card-holder
          .col.col-12.col-md-6.col-lg-4
              a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
                .card__bg
                  img(src="img/content/bg__card-6.jpg", alt="")
                .card__body
                  .card__info.info-type-1
                    span
                      | PKO
                  .card__title.h3-text
                    | Как оплатить штраф без расчетного счета. Пошаговая инструкция
                  .card__btn
                    i.icon.icon-forward
          .col.col-12.col-md-6.col-lg-4
              a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
                .card__bg
                  img(src="img/content/bg__card-7.jpg", alt="")
                .card__body
                  .card__info.info-type-3
                    span
                      | эквайринг
                  .card__title.h3-text
                    | Выгодные условия РКО для небольших цветочных магазинов
                  .card__btn
                    i.icon.icon-forward
          .col.col-12.col-md-6.col-lg-4
              a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
                .card__bg
                  img(src="img/content/bg__card-8.jpg", alt="")
                .card__body
                  .card__info.info-type-3
                    span
                      | эквайринг
                  .card__title.h3-text
                    | Покупка терминалов для мобильного и торгового эквайринга 
                  .card__btn
                    i.icon.icon-forward
    //- footer
    include partials/_footer

              