---
title: Category page
---
extends layouts/_layout
block content
  .header-padding
    .title__wrapper
      .title.color-dark-text
        | Кредиты
    .container
      //- first block
      .row.top-block
        .col.col-12.col-md-6.col-lg-8
          a(href="#").card.is-rippled.on-dark.card-with-popular.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-full.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | КРЕДИТЫ
              .card__title.from-24-to-34-text
                | Как сдать декларацию по специальной оценке условий труда
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-1.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
      //- second block
      .row.card-holder
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-1.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-2.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-3.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        //- third block
        .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
                .card__title.h3-text
                  | Выгодные условия РКО для небольших цветочных магазинов
                .card__btn
                  i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-4.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Покупка терминалов для мобильного и торгового эквайринга 
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-5.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        //- four block
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-4.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Покупка терминалов для мобильного и торгового эквайринга 
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-light.card-type-2
            .card__bg
              img(src="img/content/bg__card-5.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | эквайринг
            .card__footer
              .card__title.h4-text
                | Когда выгодно брать кредит если ты индивидуальный предприниматель?
              .card__text
                p
                  | 19-ый и 21-ый лунные дни идеальное время для платежа 
              .card__last-line
                .card__date
                  span
                    | 10 окт
                .card__views
                  i.icon.icon-eye
                  span
                    | 768
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | PKO
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward

      .row.more-btn__wrapper.justify-content-center
        .col.col-xs-8.col-md-3.col-lg-3.text-center
          button.btn-simple.is-rippled.on-dark
            | Загрузить ещё статьи


    //- sub
    include partials/_subscription

  
    //- footer
    include partials/_footer

              