---
title: Newspage
---
extends layouts/_layout
block content
  .header-padding
    .container
      .wrapper-news(data-sticky-role='parent_elem')

        button.btn-back.btn-news-back(data-sticky-role='elem')
          i.icon.icon-back

        .group-btns-social(data-sticky-role='elem')
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__vk-import
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__tw-import
          button.btn-social
            i.icon.icon-vk-in
              include ./svg_import/_icon__fb-import
              
        article.news-container
          .news-top
            .category-tag.tag-green
              | Эквайринг
            .news-top__time
              | 10 октября 2018, 16:30
            .card__views
              i.icon.icon-eye
              span
                | 768
          .h1-text.color-dark-text.news-title
            | Банковская картотека на расчетном счете 
          .bigger-text
            | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет.
          p
            | Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления 
            a(href="#") Ссылка
            |. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. 
            a(href="#") Ссылка выглядит вот так.
            
          .h2-text.color-dark-text
            | Загружаем картинки и подписываем их
          p
            | Картинка имеет ограничение шириной контейнера 684px, если загружаемая картинка имеет ширину меньше 684px, то картинка не растягивается.
          a.lightbox(href="img/content/bg__card.jpg" data-imagelightbox='uniq')
            img(src="img/content/bg__card.jpg", alt="alt" title="title")
          p
            i
              | Подпись к фотографии используется курсивом, ксати при клике на фотографию, она увеличивается на весь экран :) 
          .h2-text.color-dark-text
            | Причины открытия картотеки 
          ul.simple-list
            li
              | Клиент не одобрил списание средств по платежному поручению;
            li 
              | На расчетный счет наложен арест;
            li
              | Плательщик не располагает достаточными средствами для исполнения финансовых обязательств;
            li
              | Превышен лимит по счету, и не предусмотрен овердрафт.

          blockquote.blockquote.news-blockquote
            .h2-text.color-dark-text
              | К началу сражения работа главнокомандующего уже закончена
            site.site
              .site__inner
                .site__text
                  .name
                    | Том Де Марко
                  .who
                    | Американский инженер-программист

          p 
            | Цитата бывает с фотографией или без 

          blockquote.blockquote.news-blockquote
            .h2-text.color-dark-text
              | К началу сражения работа главнокомандующего уже закончена
            site.site
              .site__inner
                .site__img
                  img(src="img/content/user-pic.jpg", alt="")
                .site__text
                  .name
                    | Том Де Марко
                  .who
                    | Американский инженер-программист

          p
            | Если счета не исполняются банком в силу ряда причин, они попадают в картотеку. Этот инструмент предназначен для управления 
            a(href="#") Ссылка
            |. платежными поручениями владельца Р/С. При этом в картотеке не содержатся сведения о задолженности юридического лица: она только свидетельствует о наличии невыполненных обязательств, которые планируется погасить. Статья содержит в себе информацию о причинах открытия картотеки, ее видах и очередности выплат. 
            a(href="#") Ссылка выглядит вот так.

      //- AFTER CONTENT BLOCK
      .news-bottom
        .news-container
          .h2-text.color-dark-text
            | Читайте также
          ul.list-red
            li
              a(href="#")
                | Покупка терминалов для мобильного и торгового эквайринга
            li
              a(href="#")
                | Как оплатить штраф без расчетного счета. Пошаговая инструкция
            li
              a(href="#")
                | Как сдать декларацию по специальной оценке условий труда
        
          
      
    //- sub
    include partials/_subscription



    //- most related
    .box
      .container
        .box__title.h2-text.color-dark-text
          | Читайте также
        .row.card-holder
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-1.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-2.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-3.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
    //- footer
    include partials/_footer

               