---
title: Popular questions
---
extends layouts/_layout
block content
  .header-padding
    .title__wrapper
      .title.color-dark-text
        | Популярные вопросы
    .container
      //- all 
      .row.card-holder
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-6.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-7.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | кредиты
              .card__title.h3-text
                | Кридитная карта для ИП, так можно?
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-8.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | рко
              .card__title.h3-text
                | Как сэкономить на кассе?
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-9.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Эквайринг простыми словами
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-10.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.card-empty.is-rippled.on-dark.card-type-1
            .card__bg
              img(src="", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.card-empty.is-rippled.on-dark.card-type-1
            .card__bg
              img(src="", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-6.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-7.jpg", alt="")
            .card__body
              .card__info.info-type-3
                span
                  | кредиты
              .card__title.h3-text
                | Кридитная карта для ИП, так можно?
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-8.jpg", alt="")
            .card__body
              .card__info.info-type-1
                span
                  | рко
              .card__title.h3-text
                | Как сэкономить на кассе?
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-9.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Эквайринг простыми словами
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
            .card__bg
              img(src="img/content/bg__card-10.jpg", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.card-empty.is-rippled.on-dark.card-type-1
            .card__bg
              img(src="", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        .col.col-12.col-md-6.col-lg-4
          a(href="#").card.card-empty.is-rippled.on-dark.card-type-1
            .card__bg
              img(src="", alt="")
            .card__body
              .card__info.info-type-2
                span
                  | эквайринг
              .card__title.h3-text
                | Выгодные условия РКО для небольших цветочных магазинов
              .card__btn
                i.icon.icon-forward
        
        

      .row.more-btn__wrapper.justify-content-center
        .col.col-xs-8.col-md-3.col-lg-3.text-center
          button.btn-simple.is-rippled.on-dark
            | Загрузить ещё статьи


    //- sub
    include partials/_subscription

  
    //- footer
    include partials/_footer

              