---
title: Заголовок
---
extends layouts/_layout
block content
  style.
    dl{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      
    }
    dt,
    dd{
      flex: 1 1 50%;
      max-width: 50%;
      margin-bottom: 20px;
    }
  .wrapper(style="padding: 100px 0;")
    .container
      .row
        .col
          h2.h2-text.color-dark-text
            | Поля ввода и их состояния
          .divider(style="display: block; width: 100%; height: 40px;")

          .mb20.input-group.row.justify-content-between.align-items-center
            .col.col-sm-6.col-xs-12
              span.input-group-text
                | Нативно
            .col.col-sm-6.col-xs-12
              .form-control__wrapper
                label.form-control__inner(for="field")
                  input.form-control#field(type="text", name="field")
                  .form-control-text
                    | Email
                .form-text-error

          .mb20.input-group.is-focused.row.justify-content-between.align-items-center
            .col.col-sm-6.col-xs-12
              span.input-group-text
                | Нажатие и ввод текста
            .col.col-sm-6.col-xs-12
              .form-control__wrapper.is-filled
                label.form-control__inner(for="field2")
                  input.form-control#field2(type="text", name="" value="nikolay@aims.pro")
                  .form-control-text
                    | Email
                .form-text-error

          .mb20.input-group.row.justify-content-between.align-items-center
            .col.col-sm-6.col-xs-12
              span.input-group-text
                | С введенным значением
            .col.col-sm-6.col-xs-12
              .form-control__wrapper.is-filled
                label.form-control__inner(for="field3")
                  input.form-control#field3(type="text", name="" value="nikolay@aims.pro")
                  .form-control-text
                    | Email
                .form-text-error

          .mb20.input-group.row.justify-content-between.align-items-center
            .col.col-sm-6.col-xs-12
              span.input-group-text
                | Ошибка
            .col.col-sm-6.col-xs-12
              .form-control__wrapper.is-error
                label.form-control__inner(for="field4")
                  input.form-control#field4(type="text", name="" value="")
                  .form-control-text
                    | Email
                .form-text-error
                  | Укажите Email

          .mb20.input-group.row.justify-content-between.align-items-center
            .col.col-sm-6.col-xs-12
              span.input-group-text
                | Не подлежит редактированию
            .col.col-sm-6.col-xs-12
              .form-control__wrapper.is-disabled
                label.form-control__inner(for="field5")
                  input.form-control#field5(type="text", name="field5" disabled value="nikolay@aims.pro")
                  .form-control-text
                    | Email
                .form-text-error
                  | Укажите Email
        .col(style="padding-left: 70px;")
          h1.title.color-dark-text(style="margin-bottom: .5em;")
            | Заголовок страницы
          .h1-text.color-dark-text(style="margin-bottom: .5em;")
            | h1 Заголовок
          h2.h2-text.color-dark-text(style="margin-bottom: .5em;")
            | h2 Заголовок
          h3.h3-text.color-dark-text(style="margin-bottom: .5em;")
            | h3 Заголовок
          h4.h4-text.color-dark-text(style="margin-bottom: .5em;")
            | h4 Заголовок
          h2.h2-text.color-white-text.bg-black(style="margin-bottom: .5em;")
            | h2 Заголовок
          h3.h3-text.color-white-text.bg-black(style="margin-bottom: .5em;")
            | h3 Заголовок
          h4.h4-text.color-white-text.bg-black(style="margin-bottom: .5em;")
            | h4 Заголовок
          h5.bigger-text.color-dark-text(style="margin-bottom: .5em;")
            | p большой кегль текст 
          p.simple-text(style="margin-bottom: .5em;")
            | p текст статьи


      .row(style="margin: 50px 0;")
        .col
          h2.h2-text.color-dark-text(style="margin-bottom: .5em;")
            | Ссылки
          dl
            dt
              | link
            dd
              a(href="#") Так же и ховер
          hr
        .col
          h2.h2-text.color-dark-text(style="margin-bottom: .5em;")
            | Кнопки
          dl
            dt
              | normal/hover social &amp; back btns
            dd
              button.btn-back
                i.icon.icon-back
              .group-btns-social
                button.btn-social
                  i.icon.icon-vk-in
                    include ./svg_import/_icon__vk-import
                button.btn-social
                  i.icon.icon-vk-in
                    include ./svg_import/_icon__tw-import
                button.btn-social
                  i.icon.icon-vk-in
                    include ./svg_import/_icon__fb-import
            dt
              | normal/hover simple btns
            dd
              button.btn-simple.is-rippled.on-dark
                | Войти
            dt
              | disabled simple btns
            dd
              button.btn-simple(disabled)
                | Войти
            dt
              | Chekbox
            dd
              span
                label.simple-checkbox
                  input(type="checkbox", name="")
                  span.simple-checkbox-visual
                label.simple-checkbox
                  input(type="checkbox", name="" checked)
                  span.simple-checkbox-visual
              span.bg-black(style="padding: 10px;margin-left: 20px;")
                label.simple-checkbox.white.on-black
                  input(type="checkbox", name="")
                  span.simple-checkbox-visual
                label.simple-checkbox.white.on-black
                  input(type="checkbox", name="" checked)
                  span.simple-checkbox-visual

      .row   
        h2.h2-text.color-dark-text.col-12(style="margin-bottom: .5em;")
          | Карточки с новостями
        .row.card-holder
          .col.col-sm-6.col-md-4
            a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
                .card__title.h3-text
                  | Выгодные условия РКО для небольших цветочных магазинов
                .card__btn
                  i.icon.icon-forward
          .col.col-sm-6.col-md-4
            a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-2
                  span
                    | Кредиты
                .card__title.h3-text
                  | Выгодные условия РКО для небольших цветочных магазинов
                .card__btn
                  i.icon.icon-forward
          .col.col-sm-6.col-md-4
            a(href="#").card.is-rippled.on-dark.card-type-1.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-3
                  span
                    | Эквайринг
                .card__title.h3-text
                  | Выгодные условия РКО для небольших цветочных магазинов
                .card__btn
                  i.icon.icon-forward
        .row.card-holder
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-1.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-2.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | Ведение предпринимательской деятельности предполагает своевременное выполнение финансовых обязательств. Контроль исполнения расчетов осуществляется банковским учреждением, в котором юридическим лицом был открыт счет. 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-6.col-lg-4
            a(href="#").card.is-rippled.on-light.card-type-2
              .card__bg
                img(src="img/content/bg__card-3.jpg", alt="")
              .card__body
                .card__info.info-type-1
                  span
                    | PKO
              .card__footer
                .card__title.h4-text
                  | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                .card__text
                  p
                    | 19-ый и 21-ый лунные дни идеальное время для платежа 
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
        .row
          .col.col-12
            h2.h2-text.color-dark-text(style="margin-bottom: .5em;")
              | Карточки с популярными
          .col.col-12.col-md-8
            a(href="#").card.is-rippled.on-dark.card-with-popular.card-title-color-light
              .card__bg
                img(src="img/content/bg__card.jpg", alt="")
              .card__body
                .card__info.info-type-2
                  span
                    | КРЕДИТЫ
                .card__title.from-24-to-34-text
                  | Как сдать декларацию по специальной оценке условий труда
                .card__last-line
                  .card__date
                    span
                      | 10 окт
                  .card__views
                    i.icon.icon-eye
                    span
                      | 768
          .col.col-12.col-md-4
            .popular
              .popular__inner
                .popular__title.h2-text
                  i.icon.icon-lightning
                  span
                    | Популярное
                a.popular__item(href="#")
                  .popular__item-title(style="color: #942f5d;")
                    | Кредиты
                  .popular__item-text
                    | Когда выгодно брать кредит если ты индивидуальный предприниматель?
                a.popular__item(href="#")
                  .popular__item-title(style="color: #004385;")
                    | РКО
                  .popular__item-text
                    | Банковская картотека на расчетном счете
                a.popular__item(href="#")
                  .popular__item-title(style="color: #32a287;")
                    | Эквайринг
                  .popular__item-text
                    | Покупка терминалов для мобильного и торгового эквайринга 
                
            

         





                









 
