
  
$fontR: 'Source Sans Pro', sans-serif


=font-bold
	font-family: $fontR
	font-weight: 700
=font-med
	font-family: $fontR
	font-weight: 600
=font
	font-family: $fontR
	font-weight: 400

$color-title: #181818
$color-text: #696969


$color-main: #e3295a