footer.footer
  .container
    .row
      .col.col-12.col-md-6.col-lg-3
        a(href="#" aria-label="to main page").footer__logo
          img(src="img/img__logo-white.svg", alt="")
        .footer__copy.d-none.d-sm-block
          | Tam bank © 2018
        a.white-link.d-block.d-sm-none.footer-mobile-mail(href="mailto:blog@tambank.ru")
          | blog@tambank.ru
      .col.col-12.col-md-6.col-lg-3
        button.btn-simple.is-rippled.on-dark
          | Связаться с нами
        a.white-link.mt10.d-none.d-sm-block(href="mailto:blog@tambank.ru")
          | blog@tambank.ru
        .footer__copy.d-sm-none.footer-mobile-copy
          | Tam bank © 2018
      .col.col-lg-3.d-none.d-lg-block
        .footer__title
          | Полезные статьи
        ul.footer__nav
          li.footer__nav-item
            a(href="#")
              | Кредиты
          li.footer__nav-item
            a(href="#")
              | Эквайринг
          li.footer__nav-item
            a(href="#")
              | Расчетно кассовое обслуживание
      .col.col-lg-3.d-none.d-lg-block
        .footer__title
          | Там банк
        ul.footer__nav
          li.footer__nav-item
            a(href="#")
              | О проекте
          li.footer__nav-item
            a(href="#")
              | Политика конфиденциальности