//BEGIN header
header.header
	a(href="#" aria-label="to main page").header__logo
		img(src="img/img__logo.svg", alt="")
	#menu.overlay.overlay-genie(data-steps='m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z')
		svg.overlay-mask(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewBox='0 0 1440 806', preserveAspectRatio='none')
			path.overlay-path(d='M701.56545,809.01175C701.56545,809.01175,736.7326300000001,809.01175,736.7326300000001,809.01175C736.7326300000001,809.01175,736.7326300000001,828.69559,736.7326300000001,828.69559C736.7326300000001,828.69559,701.56545,828.69559,701.56545,828.69559C701.56545,828.69559,701.56545,809.01175,701.56545,809.01175C701.56545,809.01175,701.56545,809.01175,701.56545,809.01175')
		.top-overlay 
			a(href="#" aria-label="to main page").top-overlay__logo
				img(src="img/img__logo-white.svg", alt="")
			//- button.overlay-close.menu-close(type='button' aria-label="Close") Close
	nav.header-menu__wrapper
		ul.header-menu
			li.header-menu__item.is-active
				a(href='#') Новости
			li.header-menu__item
				a(href='#') Кредиты
			li.header-menu__item
				a(href='#') РКО
			li.header-menu__item
				a(href='#') Эквайринг
	.overlay-trigger
		//- svg.ham.hamRotate.ham1(viewbox="0 0 100 100" width="80" onclick="this.classList.toggle('active')")
		//- 	path.line.top(d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40")
		//- 	path.line.middle(d="m 30,50 h 40")
		//- 	path.line.bottom(d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40")

		svg.ham.hamRotate.ham7(viewbox="0 0 100 100")
			path.line.top(d="m 70,33 h -40 c 0,0 -6,1.368796 -6,8.5 0,7.131204 6,8.5013 6,8.5013 l 20,-0.0013")
			path.line.middle(d="m 70,50 h -40")
			path.line.bottom(d="m 69.575405,67.073826 h -40 c -5.592752,0 -6.873604,-9.348582 1.371031,-9.348582 8.244634,0 19.053564,21.797129 19.053564,12.274756 l 0,-40")

	//END header
