.slider-card__wrapper
  .slider-card__inner
    .slider-card
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-7.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Как правильно покупать акции?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-8.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Кридитная карта для ИП, так можно?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-9.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Как сэкономить на кассе?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-10.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Эквайринг простыми словами
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-11.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Выгодные условия РКО для небольших цветочных магазинов
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-12.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Выгодные условия РКО для небольших цветочных магазинов
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-7.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Как правильно покупать акции?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-8.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Кридитная карта для ИП, так можно?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-9.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Как сэкономить на кассе?
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-10.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Эквайринг простыми словами
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-11.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Выгодные условия РКО для небольших цветочных магазинов
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768
      .slider-card__item
        a(href="#").card.is-rippled.on-dark.card-type-slide.card-title-color-light
          .card__bg
            img(src="img/content/bg__card-12.jpg", alt="")
          .card__body
            .card__info.info-type-transparent
              span
                | акции
            .card__title.h3-text
              | Выгодные условия РКО для небольших цветочных магазинов
            .card__last-line
              .card__date
                span
                  | 10 окт
              .card__views
                i.icon.icon-eye
                span
                  | 768


    