.sub
  .container
    .row.align-items-center
      .col.col-12.col-lg-6
        .sub__title.h3-text.color-white-text
          | Получай подборку лучших статей и советов про деньги, один раз в неделю
        .sub__subtitle
          | Подпишись на рассылку
          i.icon.icon-fire
      .col.col-12.col-lg-6
        form.sub__form(action="")
          .row
            .col.col-12.col-md-7.order-1
              .form-control__wrapper
                label.form-control__inner(for="field")
                  input.form-control#field(type="text", name="field")
                  .form-control-text
                    | Email
                .form-text-error
            .col.col-12.col-md-5.order-3.order-md-2
              button.btn-simple.is-rippled.on-dark
                | Подписаться
            .col.col-12.order-2.order-md-3
              label.simple-checkbox.white
                input(type="checkbox", name="" checked)
                span.simple-checkbox-visual
                .simple-checkbox-text
                  | Я согласен с условиями обработки 
                  a(href="#")
                    | персональных данных