.footer
  background-color: #001c38
  padding: 40px 0 80px
  color: #ffffff
  +r(979)
    padding: 50px 0
    text-align: center
  +r(767)
    background-color: #0a090c
  a
    color: #ffffff
  &__title
    +font-bold
    line-height: 1.1
    margin-bottom: 15px
    +fs(20)
  &__nav-item
    +fs(17)
    line-height: 1.3
    margin-bottom: 10px
  &__copy
    +fs(15)
  &-mobile-mail
    margin: 0 0 25px
  &-mobile-copy
    margin-top: 18px
