.header
  display: flex
  flex-flow: row wrap
  align-items: center
  position: fixed
  height: 80px
  width: 100%
  box-shadow: inset 0 -1px 0 0 #ebebeb
  background-color: #ffffff
  z-index: 90
  transition: box-shadow .24s
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    box-shadow: 0 2px 24px 0 rgba(10, 9, 12, 0.18)
    opacity: 0
    transition: opacity .23s
    z-index: -1
  &.is-sticky::after
    opacity: 1
  & ~ .header-padding
    padding-top: 80px
  +r(1023)
    height: 60px
    & ~ .header-padding
      padding-top: 60px
  &__logo,
    display: block
    position: absolute
    +css-lock(20,30,768,1024,left)
    top: 50%
    transform: translateY(-50%)
    +css-lock(107,180,768,1024,width)
    +css-lock(20,37,768,1024,height)

.header-menu__wrapper
  +rmin(1024)
    margin: auto
    width: 550px
    max-width: 100%
    display: block
    height: 100%
  +r(1023)
    opacity: 0
    position: fixed

//   +rmin(1024)
//     display: block

.header-menu
  +rmin(1024)
    width: 100%
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  
  +rmin(1024)
    height: 100%
.header-menu__item
  +rmin(1024)
    height: 100%
    display: flex
    align-items: center
    position: relative
    border-bottom: 3px solid transparent
    &.is-active
      border-bottom-color: #cc003d
    a
      +fs(20)
      color: #0a090c
      line-height: 1.7
      +font-med
      &:hover
        text-decoration: none

.top-overlay__logo
  display: block
  position: relative
  left: 20px
  top: 20px
  +css-lock(107,180,768,1024,width)
  +css-lock(20,37,768,1024,height)