.wrapper-news
  position: relative
  padding-top: 50px
  +r(991)
    display: flex
    flex-flow: row wrap
    padding-top: 16px
  .btn-back
    position: relative
    +rIn(768,991)
      left: 25px
    +rmin(992)
      bottom: auto
      top: 100px
    +r(991)
      top: 0
      margin-bottom: 25px
    &.is-sticky
      +rmin(1200)
        left: calc(50vw - 570px)
      +rmin(992)
        position: fixed
        left: calc(50vw - 480px)
        z-index: 999
  .group-btns-social
    +r(991)
      order: 100
    +rmin(992)
      z-index: 999
  .news-container
    +r(991)
      padding-bottom: 10px
.news-container
  display: block
  max-width: 685px
  margin-left: auto
  margin-right: auto
  position: relative
  padding-bottom: 50px
  +r(991)
    padding-left: 15px
    padding-right: 15px
  p
    margin-bottom: 25px
    line-height: 1.88
  .bigger-text
    color: #0a090c
    +r(991)
      +fs(17)
      line-height: 1.88
      color: #0a090c
      margin-bottom: 25px
  .h1-text
    +r(991)
    margin-bottom: 16px
  .h2-text
    margin-bottom: 10px
  .lightbox
    +r(991)
      display: block
      width: calc(100% + 30px)
      left: -15px
      position: relative

  
.wrapper-news [data-sticky-role='elem']
  position: relative
  +rmin(992)
    display: block
    bottom: 100px
    right: 0
    position: absolute
  &.is-sticky
    position: relative
    +rmin(1200)
      right: calc(50vw - 570px)
    +rmin(992)
      right: calc(50vw - 480px)
      position: fixed

.wrapper-news .btn-social
  +rmin(992)
    display: block 
    margin-left: auto
    margin-right: auto
    &:not(:last-child)
      margin-bottom: 25px
  +r(991)
    margin-right: 20px



.news-top
  display: flex
  flex-flow: row wrap
  align-items: center

.category-tag
  +fs(14)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: .7px
  line-height: 1
  padding: 4px 10px
  margin-right: 15px
  &.tag-green
    background-color: #32a287
    color: white

.news-top__time,
.card__views
  color: #535b63
  +fs(15)
  line-height: 1.47
  margin-right: 17px

.news-title
  margin-top: 18px
  margin-bottom: 25px


.news-bottom
  display: block
  width: 100%
  max-width: 985px
  margin-left: auto
  margin-right: auto
  border-top: 2px solid #004385
  padding-top: 77px
  +r(991)
    padding-top: 50px
.list-red
  padding-left: 20px
  li
    position: relative
    list-style: none
    padding-left: 20px
    +fs(20)
    line-height: 1.75
    font-weight: 600
    color: #cc003d
    &::before
      content: ''
      width: 5px
      height: 5px
      background-color: currentColor
      display: block
      border-radius: 50%
      position: absolute
      top: calc(50%)
      left: 0

#imagelightbox
  position: fixed
  z-index: 9999
  touch-action: none
  &::before
    content: ''

.open-lightbox #overlay-lightbox
  display: block
  position: fixed
  z-index: 9998
  touch-action: none
  background-color: rgba(#ffffff,.85)
  top: 0
  left: 0
  width: 100%
  height: 100%
body:not(.open-lightbox) #overlay-lightbox
  display: none

.lightbox
  margin-bottom: 10px
  display: block

.simple-list
  display: block
  margin-bottom: 25px
  +rmin(992)
    padding-left: 20px
  li
    padding-left: 20px
    list-style: none
    line-height: 1.88
    position: relative
    &::before
      content: ''
      width: 5px
      height: 5px
      background-color: #0a090c
      display: block
      border-radius: 50%
      position: absolute
      top: .75em
      left: 0

.blockquote
  margin-bottom: 25px
  padding: 65px 70px
  position: relative
  background-color: #f2f9ff
  background-size: 50px 40px
  &::before
    background: #f2f9ff url(../img/icon__blockquote.svg) no-repeat 150px 48px
    content: ''
    position: absolute
    top: 0
    bottom: 0
    z-index: -1
    user-select: none
    width: 100%
    +r(991)
      background-position-y: 27px
  &.news-blockquote
    z-index: 2
    +r(991)
      padding: 80px 0 30px
    &::before
      left: -150px
      width: calc(100% + 300px)
.site
  &__text
    .name
      +fs(20)
      font-weight: 700
      line-height: 1.5
      color: $color-title
    .who
      +fs(17)
      line-height: 1.88
      color: $color-text
  &__inner 
    display: flex
  &__img
    flex: 0 0 auto
    img
      display: block
      border-radius: 50%
      width: 60px
      height: 60px
      margin-right: 20px
      overflow: hidden
  &__text
    flex: 1 1 auto

.news-container .blockquote .h2-text
  margin-bottom: 25px
