.is-rippled
  position: relative
  overflow: hidden
  &.on-dark
    .effekt
      background: rgba(255,255,255, 0.7)    
  &.on-light
    .effekt
      background: rgba(0, 0, 0, 0.7)



.effekt
  display: block
  position: absolute
  pointer-events: none
  border-radius: 50%
  transform: scale(0)
  z-index: 9999
  
  opacity: 1
  &.replay
    animation: ripple 1.5s cubic-bezier(0.165, 0.85, 0.45, 1)



@keyframes ripple
  100%
    opacity: 0
    transform: scale(2)


@-webkit-keyframes ripple
  100%
    opacity: 0
    transform: scale(2)


@-moz-keyframes ripple
  100%
    opacity: 0
    transform: scale(2)


@-ms-keyframes ripple
  100%
    opacity: 0
    transform: scale(2)


@-o-keyframes ripple
  100%
    opacity: 0
    transform: scale(2)