.slider-card__wrapper
  margin-left: -8px
  width: calc(100% + 16px)
  .btn-slider
    position: absolute
    top: calc(50% - 24px)
    z-index: 2
    opacity: 1
    transition: opacity .3s ease
    &__prev
      left: -30px
      +r(979)
        left: 10px
    &__next
      right: -30px
      transform: matrix(-1, 0, 0, 1, 0, 0)
      +r(979)
        right: 10px
    &.slick-disabled
      opacity: 0
.slider-card__item
  padding: 0 10px