.sub
  background-color: #004385
  padding: 40px 0
  +r(1023)
    padding-left: 15px
    padding-right: 15px
  +r(767)
    padding: 30px 15px
  &__title
    +rmin(1023)
      max-width: 90%
    +r(1023)
      line-height: 1.1
  &__subtitle
    color: #ffffff
    +fs(15)
    line-height: 1.46
    +rmin(1024)
      margin-top: 15px
    +r(1023)
      margin-top: 5px
      margin-bottom: 20px

  .icon-fire
    +vm
    margin-left: 15px
    width: 20px
    height: 30px
    background-image: url('../img/icon__fire.svg')
    background-size: contain
    background-repeat: no-repeat
  .simple-checkbox
    +r(1023)
      display: flex
      flex-flow: row wrap
      padding: 10px 0 0 10px
      margin-bottom: 25px
  .simple-checkbox-text
    +r(1023)
      display: block
      max-width: calc(100% - 30px)
      margin: 0
      margin-top: -3px
      padding-left: 15px
      