/* Overlay style

.overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgba(22, 22, 22, 0.96)
  z-index: 100
  +rmin(1024)
    display: none
  .overlay-close
    border: 1px solid white
    width: 50px
    height: 50px
    position: absolute
    left: 60px
    top: 60px
    overflow: hidden
    border: none
    background: url(../img/icon__close.svg) no-repeat center center
    background-size: 18px 18px
    text-indent: 200%
    color: transparent
    outline: none
    z-index: 100
    opacity: 0.6
  .header-menu__wrapper
    text-align: center
    position: relative
    top: 50%
    height: 60%
    transform: translateY(-50%)
  .header-menu
    list-style: none
    padding: 0
    margin: 0 auto
    display: inline-block
    height: 100%
    position: relative
    &__item
      display: block
      height: 20%
      height: calc(100% / 5)
      min-height: 54px
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
    a
      font-family: avenir
      font-size: 48px
      font-weight: 800
      display: block
      color: #fff
      -webkit-transition: color 0.2s
      transition: color 0.2s
      text-decoration: none
      &:hover, &:focus
        color: #f0f0f0

/* Overlay closing cross*/
.overlay-trigger  
  position: fixed
  width: 50px
  height: 50px
  top: 5px
  right: 8px
  z-index: 100
  +rmin(1024)
    display: none
.ham
  cursor: pointer
  -webkit-tap-highlight-color: transparent
  transition: transform 400ms
  user-select: none
  width: 100% 


.is-open-menu .hamRotate
  transform: rotate(45deg)

@-webkit-keyframes changeMenuColor
  0%
    stroke: #000000
  50%
    stroke: #eeeeee
  100%
    stroke: #ffffff

.line
  fill: none
  transition: stroke-dasharray .4s, stroke-dashoffset .4s
  stroke: #000000
  stroke-width: 5.5
  stroke-linecap: round
  // transition: stroke .24s
  .is-open-menu &
    animation: changeMenuColor .7s linear alternate forwards

.ham7
  .top
    stroke-dasharray: 40 82
  .middle
    stroke-dasharray: 40 111
  .bottom
    stroke-dasharray: 40 161
  .is-open-menu &
    .top
      stroke-dasharray: 17 82
      stroke-dashoffset: -62px
    .middle
      stroke-dashoffset: 23px
    .bottom
      stroke-dashoffset: -83px   
.ham1
  .top
    stroke-dasharray: 40 139
  .bottom
    stroke-dasharray: 40 180
  &.active
    .top
      stroke-dashoffset: -98px
    .bottom
      stroke-dashoffset: -138px
/* Menu style

/* Effects

.overlay-genie
  +r(1023)
    background: transparent
    visibility: hidden
    opacity: 0
    transition: opacity 0.3s 0.2s, visibility 0s 0.6s
    .is-open-menu & 
      visibility: visible
      opacity: 1
      transition: opacity 0.3s
    .overlay-mask
      position: absolute
      top: 0
      left: 0
    .overlay-path
      fill: rgba(22, 22, 22, 0.96)
    .header-menu__wrapper
      opacity: 0
      transition: opacity 0.3s 0.3s, transform 0.3s 0.3s
    .overlay-close
      opacity: 0
      transition: opacity 0.3s
    .is-open-menu &
      & ~ .header-menu__wrapper, .overlay-close
        transition-delay: 0.3s
      & ~ .header-menu__wrapper
        opacity: 1
        // .header-menu__item
        //   opacity: 0.6
      .overlay-close
        opacity: 0.6
        &:hover
          opacity: 1
          cursor: pointer
      .header-menu__wrapper
        .header-menu__item:hover
          opacity: 1
          cursor: pointer
          transform: scale(1) translateY(-50%)
      & ~ .header-menu__wrapper
        position: fixed
        z-index: 100
        padding: 60px 10px
        text-align: center
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        .header-menu__item
          line-height: 1.45
          display: block
          margin-bottom: 20px
        a
          color: white
          +fs(24)
.top-overlay
  opacity: 0
  position: relative
  z-index: -2
  top: 0px
  transition: opacity .22s ease

.is-open-menu 
  .top-overlay
    transition-delay: 0.5s
    z-index: 1
    opacity: 1
      
